body {
  font-family: 'Raleway', sans-serif;
}

/* SECCION HOME */
.bg-taxi {
  background-image: url('../assets/images/taxi.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center bottom;
  padding-top: 3.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header img {
  width: 11rem;
  margin: 1.3rem 1.5rem 1rem;
}
.card-home {
  background-color: #FDC02F;
  padding: 1em;
  color: #ffffff;
  padding: 2.5rem 2.5rem 3rem;
}

h3 {
  margin: 0;
  padding-bottom: .5rem;
}

.card-home button {
  margin-top: 3rem;
}

.logo-white {
  width: 6rem;
  margin-left: 1rem;
}

/* SECCION NEW APP */
.background-color {
  background-color: #FDC02F;
  color: #ffffff;
}

.border-white {
  margin: 3rem 0 2rem;
  border: 1px solid #ffffff;
}

.background-color h4 {
  margin: 4rem 0 1rem;
}

.border-white :nth-child(2) {
  margin-bottom: 3.5rem;
}

.background-color p {
  margin-bottom: 2rem;
}

/* SECCION DRIVER */
.bg-driver {
  background-image: url('../assets/images/conduce.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.btn-color {
  color:#ffffff;
  background-color: #FDC02F;
  border: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.397);
  padding: 7rem 3rem 13rem 3rem;
}

/* SECCION TARIFA */
#rate p:nth-child(1) {
  margin-top: 7rem;
}

#rate input.btn-color {
  border: 1px solid #ffffff;
}

#rate input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 1.2rem;
}

#rate button {
  padding: .8rem 2.8rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 3px;
}

/* MAPA */
.map {
  width: 100%;
  height: 15rem;
  border: 1px solid white;
  margin: 7rem 0 5rem;
}

/* SECCION FOOTER */
footer {
  background-color: #2B2B2B;
}

footer img:nth-child(1){
  margin-top: 2rem;
}

footer ul.list-unstyled li {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

footer ul.list-unstyled li:nth-last-child(1) {
  padding-bottom: 0;
}

footer a {
  color: #ffffff;
}

footer ul.list-inline {
  margin-bottom: 3rem;
} 

footer img:nth-child(2) {
  margin-bottom: 1.5rem;
}

footer p {
  color:#ffffff;
  font-size: 1.2rem;
}