body {
  font-family: 'Raleway', sans-serif;
}

/* SECCION HOME */
.bg-taxi {
  background-image: url('../assets/images/taxi.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center bottom;
  padding-top: 3.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header img {
  width: 11rem;
  margin: 1.3rem 1.5rem 1rem;
}
.card-home {
  background-color: #FDC02F;
  padding: 1em;
  color: #ffffff;
  padding: 2.5rem 2.5rem 3rem;
}

.card-home h2 {
  margin: 0;
}

.card-home h2:nth-child(2) {
  margin-bottom: 3rem;
}

h3 {
  margin: 0;
  padding-bottom: .5rem;
}

.btn-black {
  background-color: #2B2B2B;
  color: #ffffff;
}

p.line::before {
  content: " ";
  height: 1px;
  display: inline-block;
  background-color: #ffffff;
  margin-right: 5rem;
  width: 12rem;
}

p.line::after {
  content: " ";
  height: 1px;
  display: inline-block;
  background-color: #ffffff;
  margin-left: 5rem;
  width: 12rem;
}

.card-home .btn-desktop-1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card-home .btn-desktop-2 {
  margin-top: 2rem;
}

.card-home btn-mobile {
  margin-top: 3rem;
}

.logo-white {
  width: 6rem;
  margin-left: 1rem;
}

/* SECCION NEW APP */
.background-color {
  background-color: #FDC02F;
  color: #ffffff;
}

.border-white {
  margin: 3rem 0 2rem;
  border: 1px solid #ffffff;
}

.background-color h4 {
  margin: 4rem 0 1rem;
}

.border-white :nth-child(2) {
  margin-bottom: 3.5rem;
}

.background-color p {
  margin-bottom: 2rem;
}

.border-white-desktop {
  margin: 3rem 0 3rem;
  border: 1px solid #ffffff;
  transform: translateX(-10rem);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone-desktop {
  padding: 3rem 0 3rem 3rem;
}

.content-phone {
  margin-right: 10rem;
}

.content-phone h3 {
  margin-bottom: 1rem;
}

.content-phone p {
  font-weight: 300;
  font-size: 1.5rem;
}

/* SECCION DRIVER */
.bg-driver {
  background-image: url('../assets/images/conduce.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.btn-color {
  color:#ffffff;
  background-color: #FDC02F;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.397);
  padding: 7rem 3rem 13rem 3rem;
}

/* SECCION TARIFA */
#rate p:nth-child(1) {
  margin-top: 7rem;
}

#rate input.btn-color {
  border: 1px solid #ffffff;
}

#rate input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 1.2rem;
}

#rate button {
  padding: .8rem 2.8rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 3px;
}

/* MAPA */
.map {
  height: 25rem;
  border: 1px solid white;
  margin: 3rem 1rem 3rem 1rem;
}

/* SECCION FOOTER */
footer {
  background-color: #2B2B2B;
}

footer img:nth-child(1){
  margin-top: 2rem;
}

.text-footer {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

footer ul.list-unstyled li:nth-last-child(1) {
  padding-bottom: 0;
}

footer a {
  color: #ffffff;
}

footer ul.list-inline {
  margin-bottom: 2rem;
} 

.logo-store {
  margin-bottom: 1.5rem;
}

footer p {
  color:#ffffff;
  font-size: 1.2rem;
}

.profile {

}

@media (min-width:992px) {
  .store-desktop {
    position: absolute;
    transform: translateY(-23rem);
    right: 0;
  }

  footer ul.list-inline {
    margin-bottom: 1rem;
  }  
}